<section class="deads">
    <h3>Fallen Heros</h3>
    {{#each deads as |deads| }}
        <div data-id="{{deads.id}}">
                <h4 data-id="{{deads.id}}">{{name}}</h4>
                    <p data-id="{{deads.id}}">Lvl: {{level}}</p>
                    <p data-id="{{deads.id}}">Battles: {{battle_count}}</p>
                    <p data-id="{{deads.id}}">Monster: {{monster_id}}</p>
                    <p data-id="{{deads.id}}">User: {{user_id}}</p>
        </div>
    {{/each}}
</section>