<section class="oppList">
    <h3>Pick Your Opponent!</h3>
        <section id="oppContainer">
        {{#each opponents as |opponent| }}            
            <div class="opponent {{tier}}" data-id="{{opponent.id}}">            
                <img class="oppImage" src="{{image_url}}" alt="{{name}}">
                <h4>{{name}}</h4>
                <div class="oppStats">                    
                    <p>Lv: {{level}}</p>
                    <p>Str: {{strength}}</p>
                    <p>Def: {{defense}}</p>
                    <p>Vit: {{vitality}}</p>
                </div>
            </div>
        {{/each}}
        </section>
    <div id="arenaBtnContainer">
        <image id="leftArenaSword" src="/images/sword-test2.png"></image>
        <image id="rightArenaSword" src="/images/sword-test2.png"></image>
        <button data-id="{{character_id}}" class="arenaBtn" id="selectOpp">Select Opponent</button>
        <button data-id="{{character_id}}" class="arenaBtn" id="returnTown">Return To Town</button>
    </div>
</section>
<script src="/js/arena.js"></script>