<section class="oppList">
    <h3>Characters</h3>
        <section id="oppContainer">
        {{#each opponents as |opponent| }}
            <div class="opponent" data-id="{{opponent.id}}">
                <img src="{{image_url}}" alt="{{name}}">
                <div class="oppStats">
                    <h4>{{name}}</h4>
                    <p>Lv: {{level}}</p>
                    <p>Str: {{strength}}</p>
                    <p>Def: {{defense}}</p>
                    <p>Vit: {{vitality}}</p>
                </div>
            </div>
        {{/each}}
        </section>
    <button data-id="{{character_id}}" id="selectOpp">Select Opponent</button>
    <button data-id="{{character_id}}" id="returnTown">Return To Town</button>
</section>
<script src="/js/arena.js"></script>