<section class="deads">
    <h3>Fallen Heros</h3>
    {{#each Deads as |Dead| }}
        <div class="coffin" data-id="{{id}}">
            <img src="{{image_url}}"
            <h4 data-id="{{id}}">{{name}}</h4>
            <p data-id="{{id}}">Lvl: {{level}}</p>
            <p data-id="{{id}}">Battles: {{battle_count}}</p>
            <p data-id="{{id}}">Slain by: {{monster_id}}</p>
        </div>
    {{/each}}
    <button id="return">Return to Characters</button>
</section>
<script src="/js/graveyard.js"></script>